version: '2'
services:
  db:
    container_name: learn_db
    env_file:
      - ./environment/prod.env
    image: postgres:9.5.2
    volumes:
      - dbdata:/var/lib/postgresql/data
    restart: always
  web:
    container_name: learn_web
    image: jvwong/learnweb:0.2
    volumes:
      - webstatic:/home/uwsgi/static
      - webmedia:/home/uwsgi/media
    depends_on:
      - db
    env_file:
      - ./environment/prod.env
    restart: always
  proxy:
    container_name: learn_proxy
    image: jvwong/proxy:1.0
    links:
      - web
    ports:
      - "41960:80"
    env_file:
      - ./environment/prod.env
    volumes_from:
      - web
    restart: always

volumes:
  dbdata:
    driver: local
  webstatic:
    driver: local
  webmedia:
    driver: local


