version: '2'
services:
  db:
    container_name: learn_db
    env_file:
      - ./environment/dev.env
    image: postgres:9.5.2
    volumes:
      - dbdata:/var/lib/postgresql/data
  web:
    container_name: learn_web
    build: .
    volumes:
      - ./learn:/learn
      - webstatic:/home/uwsgi/static
      - webmedia:/home/uwsgi/media
    depends_on:
      - db
    env_file:
      - ./environment/dev.env
    ports:
      - "41960:8000"

volumes:
  dbdata:
    driver: local
  webstatic:
    driver: local
  webmedia:
    driver: local