{% extends "base_CORE.html" %}
{% load static from staticfiles %}
{% load compress %}

{% block title %} {{ block.super }} - Index {% endblock title %}
{% block stylesheets %}
{% compress css %}
    <link rel="stylesheet" media="all" type="text/less" href="{% static 'core/less/style.less' %}" />
{% endcompress %}
{% endblock stylesheets %}

{% block content %}
    <h1>Index</h1>
    <ul>
        <li>
            <a href="{% url 'case-list' %}">Case Studies</a>
        </li>
    </ul>
{% endblock content %}