{% extends "cases/base_CASES.html" %}
{% load tagging_tags %}
{% load thumbnail %}

{% block content %}
  <h3>{{ case.title }}</h3>

  <div>
    <h4><a href="{{ case.article.url }}">{{ case.article.title }}</a></h4>
    <span>{{ case.article.authors.0 }}</span>
  </div>
  <hr/>

  <div>{{ case.quick_summary }}</div>

  <div>{{ case.subtitle }}</div><hr/>
  <div>{{ case.summary }}</div><hr/>
  <div>{{ case.author_profile }}</div><hr/>
  <div>{{ case.context }}</div><hr/>
  <div>{{ case.question }}</div><hr/>
  <div>{{ case.researcher_goals }}</div><hr/>
  <div>{{ case.approach }}</div><hr/>

  <div>{{ case.references }}</div><hr/>

  <div>{{ case.quote }}</div><hr/>


  <div>
    {% thumbnail case.figure "x200" as im %}
      <img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
    {% endthumbnail %}
  </div>
  <div>{{ case.figure_legend }}</div>
  <hr/>

  <div><a href="{{MEDIA_URL}}{{ case.pdf }}">pdf</a></div>  
  <h4>Tags</h4>
  <ul>
    {% tags_for_object case as tag_list %}
    {% for tag in tag_list %}
      <li><a href="{% url 'case-tag-list' tag.name %}">{{ tag.name }}</a></li>
    {% endfor %}
  </ul>
{% endblock content %}
