@import "/learn/static/vendor/less-elements/elements.less";

.case-list{

  .list-item {
    position:relative;

    #cover {
    }

    #cover-overlay {
      max-width: 700px;
      padding-left: 0.5em;
      .bw-gradient(#EEE, 230, 255);
      opacity: 0.8;
      top:0;
      left:0;
      position: absolute;
    }
  }
}
