@import "/learn/static/vendor/less-elements/elements.less";
/* flat-ui colors */


.case-list {
  max-width: 775px;
  min-width: 400px;

  .list-group {
    .list-group-item {
      margin-top: 1em;

      .list-group-item-text {
        .list-group-item-heading {

        }
      }

      .list-group-item-media {
      }
    }
  }
}
